[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-flask = "*"

[packages]
requests = "*"
flask = "*"
waitress = "*"
myce = {editable = true,git = "git://github.com/rotwatsb/myce.git",ref = "master"}

[requires]
python_version = "3.6"
