[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-flask = "*"

[packages]
requests = "*"
flask = "*"
waitress = "*"
config2 = "*"
myce = {editable = true,git = "git://github.com/rotwatsb/myce",ref = "081ecaa7e63d3d55f1aec3388a7efbede823941f"}

[requires]
python_version = "3.6"
