[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-flask = "*"

[packages]
requests = "*"
flask = "*"
waitress = "*"
config2 = "*"
myce = {editable = true,git = "git://github.com/rotwatsb/myce",ref = "8f8e6f1dd210a3eadb3ea5b2969ea172c4f96087"}

[requires]
python_version = "3.6"
